#sim{
    background-color: greenyellow;
    width: 150px;
    height: 75px;
}

#não{
    background-color: red;
    width: 150px;
    height: 75px;
}

img{
    width: 300px;
    margin-right: 100%;
}

body{
    background-color: pink;
}